<div id="main-sidebar" class="col-sm-4">

  <!-- ==============================================
  RECENT POST WIDGET
  =============================================== -->
  <div class="widget">

    <h4 class="widget-title">Recent Posts</h4>

    <% unless @recents.blank? %>
        <% @recents.each do |rp| %>
            <div class="media">
              <div class="icon pull-left">
                <%= link_to post_details_path(:id => rp.id), :html => { title: rp.title } do %>
                    <img class="img-responsive" src="http://placehold.it/80x58" alt="" />
                <% end %>
              </div>

              <div class="media-body">
                <p class="small"><%= rp.created_at %></p>
                <p>
                  <%= link_to rp.title, post_details_path(rp) , :html => { title: rp.title } %>
                </p>
              </div>

            </div>
        <% end %>
    <% else %>
        <div class="media">
          <div class="media-body">
            <p>
              No hay post recientemente
            </p>
          </div>
        </div>
    <% end %>
  </div>

  <!-- ==============================================
  SEARCH POST WIDGET
  =============================================== -->
  <div class="widget">

    <!--=== Search Form ===-->

    <form id="search-form" action="#" method="post" novalidate>

      <div class="form-group">
        <div class="controls">
          <input id="search-term" name="searchTerm" placeholder="Search" class="form-control input-lg" type="text">
        </div>
      </div><!-- End name input -->

      <p class="text-center"><button name="submit" type="submit"><i class="fa fa-search"></i></button></p>

    </form><!-- End search-form -->

  </div>

  <!-- ==============================================
  CATEGORIES WIDGET
  =============================================== -->
  <div class="widget">

    <h4 class="widget-title">Categories</h4>

    <ul>
      <% @categories.each do |c| %>
          <li><%= link_to c.name, posts_category_path(:id => c.id) %> </li>
      <% end %>
    </ul>

  </div>

  <!-- ==============================================
  TAGS WIDGET
  =============================================== -->
  <div class="widget">

    <h4 class="widget-title">Tags</h4>

    <div class="tags-container">
      <% unless @tags.blank? %>
          <% @tags.each do |t| %>
              <%= link_to t.name, posts_tag_path(:id => t.id), :class => 'tag' %>
          <% end %>
      <% else %>
          <p>No exiten etiquetas</p>
      <% end %>
    </div>

  </div>

</div>