<!-- ==============================================
SINGLE POST
=============================================== -->
<section class="white-bg padding-top-bottom">

  <div class="container">

    <div class="row">

      <div id="single-post" class="col-sm-8">

        <article class="post-entry">

          <header class="post-header">
            <h2 class="post-title"><%= @post.title %></h2>

            <ul class="post-meta small">
              <li><i class="fa fa-calendar"></i><a href="#"><%= @post.created_at.to_date.to_formatted_s :long %> </a></li>
              <li><i class="fa fa-comments-o"></i><a href="#"><%= @post.comments.count %> Comment(s)</a></li>
              <li><i class="fa fa-folder-open-o"></i>
                <%= link_to @post.category.name, posts_category_path(:id => @post.category.id) %>
              </li>
            </ul>

            <img class="img-responsive" src="http://placehold.it/945x540" alt="" />
          </header>

          <p class="post-summary" style="font-style: italic">
            <%= @post.summary.html_safe %>
          </p>

          <br/>

          <div>
            <%= @post.content.html_safe %>
          </div>

          <% unless @post.tags %>
              <footer class="post-footer">

                <div class="tags-container text-right">

                  <i class="fa fa-tags"></i>

                  <% @post.tags.each do |t| %>
                      <%= link_to t.name, posts_tag_path(:id => t.id), :class => 'tag' %>
                  <% end %>
                </div>

              </footer>
          <% end %>

        </article>

        <div class="post-comments">

          <h2>3 Comments</h2>

          <ul class="media-list">

            <li class="media">

              <a class="media-left" href="#">
                <img class="img-circle" src="http://placehold.it/80x80" alt="...">
              </a>

              <div class="media-body">
                <div class="media-heading">

                  <h5>John</h5>
                  <small class="comment-date">12 November 2014</small>

                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum sodales dapibus. Proin pellentesque semper odio quis molestie. </p>

                <a class="reply-link" href="#reply">Reply</a>

                <div class="replies"><span>1 Reply</span></div>

                <div class="media">

                  <a class="media-left" href="#">
                    <img class="img-circle" src="http://placehold.it/80x80" alt="...">
                  </a>

                  <div class="media-body">

                    <div class="media-heading">

                      <h5>Jane</h5>
                      <small class="comment-date">12 November 2014</small>

                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum sodales dapibus. Proin pellentesque semper odio quis . </p>

                    <a class="reply-link" href="#reply">Reply</a>
                  </div>

                </div>

              </div>

            </li>

            <li class="media">

              <a class="media-left" href="#">
                <img class="img-circle" src="http://placehold.it/80x80" alt="...">
              </a>

              <div class="media-body">

                <div class="media-heading">

                  <h5>Peter</h5>
                  <small class="comment-date">12 November 2014</small>

                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum sodales dapibus. Proin pellentesque semper odio quis . </p>

                <a class="reply-link" href="#reply">Reply</a>

              </div>

            </li>

          </ul>

          <!--=== Comment Form ===-->

          <form id="comment-form" action="#" method="post" novalidate>

            <div class="form-header">
              <h3>Leave a Comment</h3>
            </div>

            <div class="row">

              <div class="col-sm-6">

                <div class="form-group">
                  <label class="control-label" for="comment-name">Name</label>
                  <div class="controls">
                    <input id="comment-name" name="commentName" placeholder="Name *" class="form-control" type="text">
                  </div>
                </div>

              </div>

              <div class="col-sm-6">

                <div class="form-group">
                  <label class="control-label" for="comment-mail">Email</label>
                  <div class=" controls">
                    <input id="comment-mail" name="commentEmail" placeholder="Email *" class="form-control" type="email">
                  </div>
                </div>

              </div>

            </div>

            <div class="form-group">
              <label class="control-label" for="comment-website">Website</label>
              <div class=" controls">
                <input id="comment-website" name="commentWebsite" placeholder="Website (Optional)" class="form-control" type="text">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="comment">Message</label>
              <div class="controls">
                <textarea id="comment" name="comment"  placeholder="Comment *" class="form-control" rows="8"></textarea>
              </div>
            </div>

            <p><button name="submit" type="submit" class="btn btn-quattro"><i class="fa fa-comment"></i>Submit comment</button></p>

          </form><!-- End comment-form -->

        </div>

      </div>

      <%= render :partial => 'sidebarPartial' %>

    </div>

  </div>

</section>