<!DOCTYPE html>
<html class="no-js">
<head>
  <title>FSDTeam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- ==============================================
  Favicons
  =============================================== -->
  <!--<link rel="shortcut icon" href="assets/favicon.ico">-->
  <!--<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">-->
  <!--<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">-->
  <!--<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">-->

  <!-- ==============================================
  CSS
  =============================================== -->
  <%= stylesheet_link_tag 'application' %>
  <!--<link id="main" rel="stylesheet" href="assets/css/styles-1.css">-->
  <!--<link id="theme" rel="stylesheet" href="assets/css/styles-1.css">-->
  <!--<link rel="stylesheet" href="assets/css/style-switcher.css">-->

  <%= javascript_include_tag 'modernizr.min' %>

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="400">

  <!--=== PAGE PRELOADER ===-->
  <div id="page-loader"><span class="page-loader-gif">Loading...</span></div>

  <% if content_for?(:header) %>
    <%= yield :header %>
  <% end %>

  <!-- ==============================================
  MAIN NAV
  =============================================== -->

  <div id="main-nav" class="navbar">
    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>

        <!-- ======= LOGO ========-->
        <a class="navbar-brand scrollto" href="#home">

          <img class="site-logo" src="http://placehold.it/90x40?text=LOGO+90x40" alt="LOGO 90x40" />
        </a>

      </div>

      <div id="site-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="sr-only">
            <a href="#home" class="scrollto">Home</a>
          </li>
          <li>
            <a href="#about" class="scrollto">About</a>
          </li>
          <li>
            <a href="#services" class="scrollto">Services</a>
          </li>
          <li>
            <a href="#portfolio" class="scrollto">Portfolio</a>
          </li>
          <li>
            <a href="#team" class="scrollto">Team</a>
          </li>
          <li>
            <a href="#news" class="scrollto">Blog</a>
          </li>
          <li>
            <a href="#contact" class="scrollto">Contact</a>
          </li>
        </ul>
      </div><!--End navbar-collapse -->

    </div><!--End container -->

  </div><!--End main-nav -->

  <%= yield %>

  <!-- ==============================================
  FOOTER
  =============================================== -->
  <footer id="main-footer">

    <div class="container text-center">

      <img class="img-responsive img-center footer-logo" src="http://placehold.it/140x70?text=LOGO+140x70" alt="LOGO 140x70" />

      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
      <p>&copy;2016 FSD Theme by <a href="#" target="_blank">FSD Team</a></p>

    </div>

  </footer>

  <!-- ==============================================
  SCRIPTS
  =============================================== -->
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script>

    var mapPoint = {
      'lat': 40.720099,
      'lng': -74.005764,
      'zoom' : 15,
      'infoText':'<p>250 W Broadway\
                  <br/>New York\
                  <br/>NY 10013</p>',
      'linkText':'View on Google Maps',
      'mapAddress':'250 W Broadway, New York, NY 10013',
      'icon': 'assets/marker.png'
    };

  </script>
</body>
</html>
